# maven ignore
target/
*.versionsBackup

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# system ignore
.DS_Store
Thumbs.db

.vscode
init-local-database.sh

# frontend
lib
node_modules
package-lock.json
**/lib/dist/
**/lib/assets/
**/lib/fonts/
